# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
# psd
/web/main.psd
tests/_output/*
tests/_support/_generated
web/css/bootstrap-theme.min.css
web/css/bootstrap.min.css
web/image/*
web/js/bootstrap.min.js
web/uploads/*
modules/admin/models/LoginForm.php
modules/admin/models/base/
modules/admin/views/layouts/login.php
views/layouts/old/*
web/image/
