/views/site/1login.php
/migrations/
/models/tmp/
/vendor/
/tests/
/web/desktop-1144_px2-2 (2).psd
/web/Без имени-1.png
/web/Без имени-1.jpg
/web/Без имени-1.psd
/web/index-test.php
/web/main.psd
.idea/inspectionProfiles/
.idea/workspace.xml
migrations/
vendor/codeception/base/tests/data/claypit/tests/_output/
vendor/codeception/base/tests/data/included/_log/
vendor/codeception/base/tests/data/included/jazz/pianist/tests/_helpers/_generated/
vendor/codeception/base/tests/data/included/jazz/pianist/tests/_log/
vendor/codeception/base/tests/data/included/jazz/tests/_log/
vendor/codeception/base/tests/data/included/shire/tests/_log/
vendor/codeception/base/tests/data/included_w/src/bar/Sub/EwokPack/tests/_support/_generated/
vendor/codeception/base/tests/data/included_w/src/bar/ToastPack/tests/_support/_generated/
vendor/codeception/base/tests/data/included_w/src/foo/AcmePack/tests/_log/
vendor/codeception/base/tests/data/included_w/src/foo/AcmePack/tests/_support/_generated/
vendor/ezyang/htmlpurifier/plugins/phorum/htmlpurifier/
vendor/yiisoft/yii2/console/runtime/
/views/layouts/old/
/modules/admin/views/articles1/
/1models/

/web/clouser.php
