@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,cyrillic-ext,latin-ext');
@font-face {
    font-family: 'PTSansBold'; /* Имя шрифта */
    src: url("../fonts/PTSansBold.woff"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'PTSansRegular'; /* Имя шрифта */
    src: url("../fonts/PTSansRegular.woff"); /* Путь к файлу со шрифтом */
}
*{
    font-family: PTSansRegular, 'PT Sans', sans-serif;
}

body {

    background-image: url("../image/main_background.png");
    background-size: cover;
overflow-x: hidden;
}
.overlay {
    top: 0;
    left: 0;
    width: 100%;
background-color: black;
    opacity: 0.65;
    z-index: 999;
    bottom: 0;
    right: 0;
    position: fixed;
    display: none;
}
header .top{
    height: 48px;
    background-color: white;
    position: fixed;
    z-index: 9999;
    width: 100%;

}
header .top ul.top_nav > li{
  list-style: none;
    margin-top: 14px;
    float: left;
}

header .top .phone span {
color:#181818;
font-weight: normal;
    font-size: 15px;
}

header .top li.language_switch {
    text-align: center;
    margin-left: 35%;

}
header .top li.language_switch a {
    font-size: 14px;
margin-left: 5px;
    color: #181818;
}
header .top li.language_switch .active a{
   padding: 4px;
    color:white;
    background: black;
    cursor: default;
}

header .top li.language_switch a:hover
{
    text-decoration: none;

}
header .top  ul.authority_block{
    float: right;

}
header .top  ul.authority_block > li {
 float: left;
    list-style: none;
    margin-top: 14px;
}
header .top .login_logaut_block {

}
.login_logaut_block span.logout form{
    margin-top: -5px;

}
header .top .login_logaut_block  a, header .top .login_logaut_block span.account  a
{
    color: #181818;
    font-size: 14px;
    margin: 0 4px 0 4px;
}
header .top span.logout form {
    display: inline-block;
}
header .top span.logout form button{
    padding: 0;
    color: #181818;
    font-size: 14px;
    margin: 0 4px 0 4px;

}
header .top a.login_form_click, header .top a.login_form_click:hover{
 margin-right: 10px;
    color: black;
    text-decoration: none;
}
header .top  a.singup_form_click, header .top  a.singup_form_click:hover {
    color: black;
    text-decoration: none;
}
header nav {
    width: 100%;
    background-color: black;

   height: 57px;
    position: fixed;
    top: 46px;
    z-index: 9995;
}


header nav .nav_container {
    position: relative;
    top: 20px;

}


header nav .ico_nav:before {
    content: url(/image/menu.png);

    display: block;
}
header nav ul.navbar-nav li.active .ico_nav{
    content: url(/image/menu_hover.png);

    display: block;
}
header nav ul.navbar-nav {
    width: 100%;
}
header nav .ico_nav:hover:before {
    content: url(/image/menu_hover.png);

    display: block;
}
header nav ul > li:first-child{
   margin-left: -26px;
}
header nav ul > li:first-child a{
    width: 28px;
    height: 23px;
    display: inline-block;
    padding-top: 0;
}
header nav ul > li:last-child{
  float: right;
}
header nav ul > li {

    margin-left: 20%;

    list-style: none;
}

header nav ul > li > a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

header nav ul > li > a:hover {
color: #cc9966;
    text-decoration: none;
}
header  ul.nav-pills {
float: left;
}
header  ul.nav-pills  > li > a:hover, .nav > li > a:focus{
    border-radius:0;
    padding: 0;
}

header  ul.nav-pills  .open > a,header  ul.nav-pills .open > a:hover, header  ul.nav-pills .open > a:focus {
background-color: transparent;
    border:0;
}

header ul.nav-pills  > li > a{
    padding: 0;
}

header ul.nav-pills > li > a:hover, header ul.nav-pills > li > a:focus{
    background-color: transparent;
}
header  li.logout {
    list-style: none;
}
header  li.logout button{
    padding: 0;
    color: black;
    margin-left: 5px;
    display:block;
}
header  li.login,header  li.singup  {
    float: left;
    list-style: none;
}

header .open > .dropdown-menu {
    z-index: 9998;
}
header .header_container {
    padding: 0;
    height: 527px;
}
header section.block_1 {
background-image: url("../image/background.png");
    height: 527px;
    background-size: cover;
    position: relative;
}

header section.block_1 .dark_background {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
}
header section.block_1 .logo{
    margin-top: 105px;
}
header  section.block_1 .slider_header {
    margin-top: 28px;
}
header  section.block_1 .slider_header .arrow {
    margin-top: 70px;
    width: 32px;
    height: 32px;
    background: white;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    cursor: pointer;

}
header  section.block_1 .slider_header .arrow:hover {
  background:transparent;
    border:1px solid #cc9966;
}
header section.block_1 .slider_header #arrow-left:before {
    content: url(/image/arrow_left.png);
    transform: rotate(45deg);
    display: block;

    margin-left: -10px;
    margin-top: 3px;
}
header  section.block_1 .slider_header #arrow-right:before{
    content: url(/image/arrow_right.png);
    transform: rotate(45deg);
    display: block;

    margin-left: -10px;
    margin-top: 3px;
}
header section.block_1 .slider_header  #arrow-left:hover:before {
    content: url(/image/arrow_left_hover.png);
    transform: rotate(45deg);
    display: block;

    margin-left: -10px;
    margin-top: 3px;
}
header  section.block_1 .slider_header  #arrow-right:hover:before{
    content: url(/image/arrow_right_hover.png);
    transform: rotate(45deg);
    display: block;

    margin-left: -10px;
    margin-top: -2px;
}
header  section.block_1 .slider_header  .content {
    margin-right: 30px;
}
header  section.block_1 .slider_header  .content span.title {
text-align: center;
    color: white;
    font-size: 40px;
    display: block;
    text-transform: uppercase;
}

header  section.block_1 .slider_header .content p {
    color: white;
    font-size: 20px;
    text-align: center;
}
/* Item */
.item_slideshow {
   position: relative;
    bottom: 100px;
    left: 47%;
}
.item_slideshow  .item
{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    float: left;
}
.item_slideshow  .active {
    background-color: #cc9966;
}
/* End Header */

/* Begin Offer_block */
 .offer {
   height: 129px;
    background: #cecece;
    background-image: url("../image/offer_bg_main.png");
    /*opacity: 0.7;*/
}

 .offer span.title_1{
    margin-left: 15px;
    display: block;
    margin-top: 48px;
    color:#333333;
    font-size: 30px;
    font-weight: bold;

}




.arrow_box {
    position: relative;
    margin-top: 33px;
    background: #333333;
    padding-top: 14px;
    padding-left: 48px;
    padding-bottom: 14px;
  max-width:408px;


}

.arrow_box:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #333333;
    border-width: 35px;
    margin-top: -35px;
}
.arrow_box:hover{
    background: #cc9966;
}
.arrow_box:hover:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #cc9966;
    border-width: 35px;
    margin-top: -35px;
}
 .offer .arrow_box a {
    display: block;
    color:white;
    font-size: 30px;

    font-weight: bold;
}
.offer .arrow_box a:hover {
    text-decoration: none;
}

 /* End Offer_block */

/*  Begin Article (main section)  */

article .banner_left {
    padding-left: 0;
}
article .content {
    background-color: white;
    border-bottom: 1px solid #c4c4c4;
    height: 388px;
    position: relative;
}

article .content h1 {
    color:#333333;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


article .content  h2{
color:#cc9966;
font-size:26px;
    line-height: 24px;
    text-align: left;
}

article .content p {
    color:#333333;
    font-size: 18px;
    text-align: left;

    line-height: 24px;
    height: 95px;
    overflow: hidden;
    margin-top: 25px;
}
article .content .news {
    border-right: 1px solid #c4c4c4;
    height: 289px;
}
article .content .end {
    border: none;
    height: 289px;
}

article .content span.more{
position:absolute;
    left: 50%;
    margin-left: -80px;
    width: 144px;
    bottom: 0;

}
article .content span.more a {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 144px;
    text-transform: uppercase;
    background-color: #e3e3e3;
    border-radius: 2px;

}
article .content span.more a:hover
{
    background-color: #cc9966;
    color:white;
}

    /* Begin Partner Block */
article .partner_block{
    height: 230px;
    background-color: #f3f3f3;
}
article .partner_block h2 {
    color:#333333;
    font-size: 30px;

    text-align: center;
}
article .partner_block .silder_partner{
  margin-top: 30px;

    padding-left: 76px;
    padding-right: 76px;
}

article .partner_block .silder_partner .slick-list {


}

article .partner_block .silder_partner .slick-prev {
left:0;
}
article .partner_block .silder_partner .slick-next {
    right: 0;
}
article .partner_block .silder_partner  button.slick-prev{
    left: 34px;
}
article .partner_block .silder_partner button.slick-next{


}

article .partner_block .silder_partner  button.slick-prev, article .partner_block .silder_partner button.slick-next{

    width: 37px;
    height: 37px;
   border: 1px solid #cccccc;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    cursor: pointer;
}
article .partner_block .silder_partner  button.slick-prev:before{
    content: url(/image/arrow_left_grey.png);
    transform: rotate(45deg);
    display: block;


}
article .partner_block .silder_partner  button.slick-prev:hover:before{
    content: url(/image/arrow_left_hover.png);
    transform: rotate(45deg);
    display: block;
}

article .partner_block .silder_partner button.slick-next:hover:before{
    content: url(/image/arrow_right_hover.png);
    transform: rotate(45deg);
    display: block;
}
article .partner_block .silder_partner  button.slick-next:before{
    content: url(/image/arrow_right_grey.png);
    transform: rotate(45deg);
    display: block;

}
article .partner_block .silder_partner  button.slick-prev:hover, article .partner_block .silder_partner button.slick-next:hover{
border:1px solid #cc9966;
background:transparent;
}
/* End Partner Block */
article .bonus_plan_left_sidebar_block {
    background-color: white;
    height: 367px;
}


article .bonus_plan_left_sidebar_block h3 {
    color: #333333;
    font-size: 42px;
    line-height: 60px;
    margin-top: 62px;
    margin-left: 30px;
}

/* Bonus_plan Steps */
.bonus_plan_steps {
    background-image: url(/image/steps_bg.png);
    height: 367px;
    background-color: #bcbcbc;
    height: 367px;
}
.bonus_plan_steps .block-top  {
    height: 118px;

    margin-left: 36px;
    margin-top: 56px;
    padding-left: 0;
    padding-right: 0px;
}
.bonus_plan_steps .block-bottom  {
    height: 118px;

    margin-left: 36px;
    margin-top: 25px;
    padding-left: 0;
    padding-right: 5px;

}
.bonus_plan_steps .block-top .img, .bonus_plan_steps .block-bottom  .img {
    width: 120px;
    height: 117px;
    margin: 0;
    padding: 0;
    background-color: white;

}
.bonus_plan_steps .block-top .bonus_plan_steps_content, .bonus_plan_steps .block-bottom .bonus_plan_steps_content {
    background-color: #f1f1f1;


    width: 187px;
    height: 117px;
    padding: 0;
    margin: 0;
    border-right: 5px solid #333333;

}
.bonus_plan_steps   .bonus_plan_steps_content h3 {
    text-align: center;
    font-size: 30px;
    color:#666666;
}
.bonus_plan_steps   .bonus_plan_steps_content a {
    color: #cc9966;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-weight: bold;
}
.bonus_plan_steps   .bonus_plan_steps_content img {
    position: absolute;
    bottom: 0;
    left: 5px;
}
.bonus_plan_steps   .bonus_plan_steps_content span.price {
    color:#cc9966;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 20px;
}
/*Booking */
.bonus_plan_steps .block-top .booking,.bonus_plan_steps .block-bottom .booking {
    display: none;
    background-color: #cc9966;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
}
.bonus_plan_steps .block-top .booking a,.bonus_plan_steps .block-bottom .booking  a{
    text-align: center;
    display: block;
    position: relative;
    top: 25%;
text-transform: uppercase;
    color: white;
    font-size: 24px;

}
.bonus_plan_steps .block-top .booking a:hover,.bonus_plan_steps .block-bottom .booking  a:hover {
    text-decoration: none;
}
.bonus_plan_steps .block-top:hover .booking,.bonus_plan_steps .block-bottom:hover .booking {
    display: block;
}
/* Bottom */
.bottom .left_block {
background-image: url('../image/booking.png');
    background-size: cover;
    height: 305px;
}
.bottom .left_block h3{
    font-size: 42px;
    line-height: 60px;
    color: white;
    margin-top: 45px;
}
.bottom .right_block {
    background-color: white;
    height: 305px;
    border-right: 5px solid #cc9966;

}
.bottom .right_block h3 {
color:#cc9966;
    font-size: 40px;
    line-height: 36px;
    margin-top: 23px;
    margin-left: 11px;

}
.bottom .advantages_block {

    height: 305px;
    margin: 0;
    padding: 0;
}
.bottom .advantages_block .active {
    background-color: #cc9966!important;
}
.bottom .advantages_block .block_1{
    height: 102px;
    background-color: #9d6d3c;
    padding: 0;
}
.bottom .advantages_block .block_2{
    height: 101px;
    background-color: #9d6d3c;
    padding: 0;
}
.bottom .advantages_block .block_3{
    background-color: #9d7445;
    height: 102px;
    padding: 0;
}
.bottom .advantages_block .block_1 .icon{
background-image: url('../image/icon_1.png');

    height: 71px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 42px;
    margin-top: 15px;
    padding: 0;
}
.bottom .advantages_block .block_1 h3, .bottom .advantages_block .block_2 h3, .bottom .advantages_block .block_3 h3{
    font-size: 20px;
    color: white;
}
.bottom .advantages_block .block_2 .icon{
    background-image: url('../image/icon_2.png');
    height: 71px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 42px;
    margin-top: 15px;
    padding: 0;
}
.bottom .advantages_block .block_3 .icon{
    background-image: url('../image/icon_3.png');
    height: 71px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 42px;
    margin-top: 15px;
    padding: 0;
}

.bottom .advantages_block .block_1 p, .bottom .advantages_block .block_2 p, .bottom .advantages_block .block_3 p{
    font-size: 12px;
    margin-bottom: 0;
    line-height: 16px;
    width: 299px;
    color: white;
}
.bottom .right_block p {
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    font-weight: bold;
    margin-top: 37px;
    margin-left: 11px;
}

/* Footer */
footer {
    background-color: #0b0b0b;
position:relative;
    bottom: 10px;
    right: 0;
    left: 0;
}

footer .footer_menu h3 {
    color:white;
    line-height: 24px;
    font-size: 14px;

}
footer .footer_menu ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 20px;
}
footer .footer_menu ul > li {
    color:#666666;
    font-size: 12px;
    list-style: none;
    margin-top: 6px;
}
/* Article View */
.article-view article h1 {
    text-align: center;
}

.article-view .article_container {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    padding-bottom: 40px;
    top: -10px;
}

/* Other  */
.products-index .content, .casino-index .content, .site-contact .content {
    background-color: white;
    padding: 30px;
}
.navbar-nav li.active > a {
    color: #cc9966;
}
.success-view,
.products-index {
    margin-top: 50px;
}

.success-view .row {
    margin-left: 50px;
    /*margin-right: 30px;*/
}



body .container .site-about {
    background-image: url("../image/desktop-about.png");
    /*min-height: auto;*/
    font-family: "PTSansRegular", sans-serif;
}

body .container .site-about img{

   margin-top: 55px;

}
.site-about-inner {
    margin: 50px 50px 0 50px;
    padding-top: 200px;
    padding-bottom: 100px;
    color: #fff;
    text-align: center;
}

.container .site-about h1 {
    margin-top: 71px;
    font-size: 40pt;
    align-content: center;
}
.container .site-about .brief {
    font-size: 20pt;

}
.container .site-about .page-content {
    font-size: 18pt;

}
/* Modal Success Registration Message

*/
.success_registration_message,.failed_registration_message {
    position: absolute;
    top: 200px;
    left: 35%;
    width: 400px;
}
.success_registration_message .close,.failed_registration_message .close {
    position: relative;
    top: -10px;
    left: 34px;
    background-color: #cc9966;
    opacity: 1;
    width: 35px;
    height: 35px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    cursor: pointer;
}
.success_registration_message  .close:hover, .failed_registration_message     .close:hover
{
    opacity: 1;

}
.success_registration_message .close span, .failed_registration_message  .close span {
    color: black;
    font-size: 18px;
    margin-top: -6px;
    margin-left: auto;
    transform: rotate(-45deg);
    display: block;
    line-height: 35pt;
    text-align: center;

}

.success_registration_message .content, .failed_registration_message .content {
    background-color: white;
    padding: 20px;
    border: 1px solid grey;
}

.success_registration_message .content p {
    text-align: center;
    font-size: 18px;
}
/*
Modal form login&singup
 */

.login_singup_popup {
    position: absolute;
top: 135px;
left: 31%;
width: 530px;
    display: none;
    z-index: 1000;
}
.login_singup_popup .close{
    position: relative;
    top: -62px;
    left: 34px;
    background-color: #cc9966;
    opacity: 1;
    width: 35px;
    height: 35px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    cursor: pointer;
}
.login_singup_popup .close:hover
{
    opacity: 1;

}
.login_singup_popup .close span {
    color: black;
    font-size: 18px;
    margin-top: -10px;
    margin-left: 10px;
    transform: rotate(-45deg);
    display: block;
    line-height: 35pt;
    text-align: center;

}
.login_singup_popup .tabs {
    width: 530px;

    height: 52px;

}


.login_singup_popup  .tabs  .tab {
    background-color: #e1e1e1;
    height: 52px;
    width: 265px;
    float: left;
    cursor: pointer;
}


.login_singup_popup  .tabs  .active{
    background-color: white;
    cursor: default;
}

.login_singup_popup  .tabs  .tab span {
    text-align: center;
    display: block;
    margin-top: 5px;
    color: #a5a5a5;
    font-size: 18px;
    line-height: 35pt;
}
.login_singup_popup  .tabs  .active span {
color: black;
}

.login_singup_popup  .modal_form {
    background-color: white;
    height: 375px;
}
.login_singup_popup #login_form {
    display: none;

}
.login_singup_popup #singup_form {

}
.login_singup_popup  form {
    margin-top: 4px;
    margin-left: 93px;
    display: block;
    float: left;
}
.login_singup_popup .form-control
{
width: 344px;
    height: 29px;
    margin-top: 27px;
    background-color: #f3f3f3;
    border-radius: 0;
}

.login_singup_popup .btn-primary{
    background-color: #cc9966;
    border: 0;
    border-radius: 0;
    font-size: 24px;
    margin-top: 26px;
}

.login_singup_popup .btn-primary:hover, .login_singup_popup .btn-primary:active {
    background-color: #8a623a;
}