@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,cyrillic-ext,latin-ext');
*{
    font-family: 'PT Sans', sans-serif;
}
body {
    background-image: url("../image/main_background.png");
    background-size: cover;
}

header .top{
    height: 46px;
    background-color: white;

}
header .top .phone {
    margin-top: 12px;
}
header .top .phone span {
color:#181818;
font-weight: normal;
    font-size: 15px;
}

header .top .language_switch {
    text-align: center;
    margin-top: 10px;
}
header .top .language_switch a {
    font-size: 14px;
margin-left: 5px;
    color: #181818;
}
header .top .language_switch .active a{
   padding: 4px;
    color:white;
    background: black;
    cursor: default;
}

header .top .language_switch a:hover
{
    text-decoration: none;

}
header .top .login {
    margin-top: 12px;
}
header .top .login > a
{
    color: #181818;
    font-size: 14px;
    margin: 0 4px 0 4px;
}
header section.block_1 {
background-image: url("../image/background.png");
    height: 527px;
    background-size: cover;
}
header section.block_1 nav {
    margin-top: 20px;
}

header section.block_1 nav .ico_nav::before{
    color:#cc9966;
    font-size: 20px;
}

header section.block_1 nav ul > li {

    list-style: none;
}
header section.block_1 nav ul > li:not(:last-of-type):after{
    content: "";
    background-color: #cc9966;
    width: 6px;
    height: 34px;

    text-align: center;

    display: inline-block;
    margin: -10px 40px;
}

header section.block_1 nav ul > li > a{
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

header section.block_1 nav ul > li > a:hover{


    text-decoration: none;
}
header section.block_1 .logo{
margin-top: 70px;
}
header  section.block_1 .slider {
    margin-top: 28px;
}
header  section.block_1 .slider .arrow {
    margin-top: 70px;
    width: 32px;
    height: 32px;
    background: white;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

}
/*header  section.block_1 .slider .arrow:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: -50px;*/
    /*top: 50px;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 50px solid transparent;*/
    /*border-top-color: red;*/
/*}*/
header  section.block_1 .slider  .content {
    margin-right: 30px;
}
header  section.block_1 .slider  .content span.title {
text-align: center;
    color: white;
    font-size: 40px;
    display: block;
    text-transform: uppercase;
}

header  section.block_1 .slider .content p {
    color: white;
    font-size: 20px;
    text-align: center;
}
/* End Header */

/* Begin Offer_block */
 .offer {
   height: 129px;
    background: #cecece;
}

 .offer span.title_1{
    margin-left: 15px;
    display: block;
    margin-top: 48px;

    color:#333333;
    font-size: 30px;

    font-weight: bold;
}




.arrow_box {
    position: relative;
    margin-top: 33px;
    background: #333333;
    padding-top: 14px;
    padding-left: 48px;
    padding-bottom: 14px;
  max-width:408px;


}
.arrow_box:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #333333;
    border-width: 35px;
    margin-top: -35px;
}
 .offer .arrow_box a {
    display: block;
    color:white;
    font-size: 30px;

    font-weight: bold;
}

 /* End Offer_block */

/*  Begin Article (main section)  */

article .banner_left {
    padding-left: 0;
}
article .content {
    background-color: white;
    border-bottom: 1px solid #c4c4c4;
    height: 388px;
    position: relative;
}

article .content h1 {
    color:#333333;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


article .content  h2{
color:#cc9966;
font-size:26px;
    line-height: 24px;
    text-align: left;
}

article .content p {
    color:#333333;
    font-size: 18px;
    text-align: left;

    line-height: 24px;
    height: 95px;
    overflow: hidden;
    margin-top: 25px;
}
article .content .news {
    border-right: 1px solid #c4c4c4;
    height: 289px;
}
article .content .end {
    border: none;
    height: 289px;
}

article .content span.more{
position:absolute;
    left: 50%;
    margin-left: -80px;
    width: 144px;
    bottom: 0;

}
article .content span.more a, article .content span.more a:hover  {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 144px;
    text-transform: uppercase;
    background-color: #e3e3e3;
    border-radius: 2px;

}


article .partner_block{
    height: 230px;
    background-color: #f3f3f3;
}
article .partner_block h2 {
    color:#333333;
    font-size: 30px;

    text-align: center;
}
article .partner_block .silder{
  margin-top: 30px;
}
article .partner_block .silder img{
    margin-left: 50px;
}
article .bonus_plan_left_sidebar_block {
    background-color: white;
    height: 367px;
}


article .bonus_plan_left_sidebar_block h3 {
    color: #333333;
    font-size: 42px;
    line-height: 60px;
    margin-top: 62px;
    margin-left: 30px;
}

/* Bonus_plan Steps */
article .bonus_plan_steps {
    background-color: #bcbcbc;
    height: 367px;
}
article .bonus_plan_steps .block-top  {
    height: 118px;

    margin-left: 36px;
    margin-top: 56px;
    padding-left: 0;
    padding-right: 0px;
}
article .bonus_plan_steps .block-bottom  {
    height: 118px;

    margin-left: 36px;
    margin-top: 25px;
    padding-left: 0;
    padding-right: 5px;

}
article .bonus_plan_steps .block-top .img, article .bonus_plan_steps .block-bottom  .img {
    width: 120px;
    height: 117px;
    margin: 0;
    padding: 0;
    background-color: white;

}
article .bonus_plan_steps .block-top .bonus_plan_steps_content,  article .bonus_plan_steps .block-bottom .bonus_plan_steps_content {
    background-color: #f1f1f1;


    width: 187px;
    height: 117px;
    padding: 0;
    margin: 0;
    border-right: 5px solid #333333;

}
article .bonus_plan_steps   .bonus_plan_steps_content h3 {
    text-align: center;
    font-size: 30px;
    color:#666666;
}
article .bonus_plan_steps   .bonus_plan_steps_content a {
    color: #cc9966;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-weight: bold;
}
/* Bottom */
.bottom .left_block {
background-image: url('../image/booking.png');
    background-size: cover;
    height: 305px;
}
.bottom .left_block h3{
    font-size: 42px;
    line-height: 60px;
    color: white;
    margin-top: 45px;
}
.bottom .right_block {
    background-color: white;
    height: 305px;
    border-right: 5px solid #cc9966;

}
.bottom .right_block h3 {
color:#cc9966;
    font-size: 40px;
    line-height: 36px;
    margin-top: 23px;
    margin-left: 11px;

}
.bottom .center_block {

    height: 305px;
    margin: 0;
    padding: 0;
}
.bottom .center_block .block_1{
    height: 102px;
    background-color: #cc9966;
    padding: 0;
}
.bottom .center_block .block_2{
    height: 101px;
    background-color: #b88047;
    padding: 0;
}
.bottom .center_block .block_3{
    background-color: #9d6d3c;
    height: 102px;
    padding: 0;
}
.bottom .center_block .block_1 .icon{
background-image: url('../image/icon_1.png');

    height: 71px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 42px;
    margin-top: 15px;
    padding: 0;
}
.bottom .center_block .block_1 h3, .bottom .center_block .block_2 h3, .bottom .center_block .block_3 h3{
    font-size: 20px;
    color: white;
}
.bottom .center_block .block_2 .icon{
    background-image: url('../image/icon_2.png');
    height: 71px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 42px;
    margin-top: 15px;
    padding: 0;
}
.bottom .center_block .block_3 .icon{
    background-image: url('../image/icon_3.png');
    height: 71px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 42px;
    margin-top: 15px;
    padding: 0;
}

.bottom .center_block .block_1 p, .bottom .center_block .block_2 p, .bottom .center_block .block_3 p{
    font-size: 12px;
    margin-bottom: 0;
    line-height: 16px;
    width: 299px;
    color: white;
}
.bottom .right_block p {
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    font-weight: bold;
    margin-top: 37px;
    margin-left: 11px;
}
/* Footer */
footer {
    background-color: #0b0b0b;
height: 189px;
}

footer .footer_menu h3 {
    color:white;
    line-height: 24px;
    font-size: 14px;

}
footer .footer_menu ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 20px;
}
footer .footer_menu ul > li {
    color:#666666;
    font-size: 12px;
    list-style: none;
    margin-top: 6px;
}
/* Article View */
.article-view article h1 {
    text-align: center;
}

.article-view .article_container {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    padding-bottom: 40px;
}

/* Other  */
.products-index .content, .casino-index .content, .site-contact .content {
    background-color: white;
    padding: 30px;
}