.products-index {
margin-top: 103px!important;

}
.products-index  .nav > li > a:focus{

    padding: 10px 15px;
}
.products-index .bonus_plan_left_sidebar_block {
    background-color: white;
    height: 367px;
}


.products-index .bonus_plan_left_sidebar_block h3 {
    color: #333333;
    font-size: 42px;
    line-height: 60px;
    margin-top: 62px;
    margin-left: 30px;
}



.products-index .bonus_plan_steps{
    background-image: url("/image/steps_bg.png");
    height: 367px;
    background-size: cover;
}
.products-index .bonus_plan_steps .step{
margin-top: 54px;
    margin-left: 50px;
    height: 117px;
    background-color: #f1f1f1;
    padding: 0;
    border-right: 5px solid black;
}
.products-index .bonus_plan_steps .step .img{
    background-color: black;

    height: 117px;
    width: 117px;
    padding: 0;
}
.products-index .bonus_plan_steps .step .img .ico{
    background-image: url(/image/icons/step_icon.png);

    width: 73px;
    height: 73px;

    top: 23px;
    left: 23px;
    position: relative;
}
.products-index .bonus_plan_steps .step .one, .products-index .bonus_plan_steps .step .two, .products-index .bonus_plan_steps .step .three, .products-index .bonus_plan_steps .step .four{
    margin-left: 20px;
    float: left;
}
.products-index .bonus_plan_steps .step .one span {
    color: #cccccc;
    font-size: 48px;
    font-weight: bold;
}
.products-index .bonus_plan_steps .step .two span {
    color: #999999;
    font-size: 48px;
    font-weight: bold;
}
.products-index .bonus_plan_steps .step .three span {
    color: #666666;
    font-size: 48px;
    font-weight: bold;
}
.products-index .bonus_plan_steps .step .four span {
    color: #333333;
    font-size: 48px;
    font-weight: bold;
}

.products-index .bonus_plan_steps .step .action{
    left: 135px;
    position: absolute;
    bottom: 27px;

}
.products-index .bonus_plan_steps .step .action span {
    color: #cc9966;
    text-transform: uppercase;
    font-size: 14px;

    border-top: 1px solid lightgrey;
    font-weight: bold;
}

.products-index .bonus_plan_steps .top,.products-index .bonus_plan_steps .bottom {
    margin-left: 36px!important;
}
.products-index .bonus_plan_steps .left_bottom, .products-index .bonus_plan_steps .bottom {

    margin-top: 24px!important;
}
.products-index article .row {
    background-color: #f3f3f3;
}
.products-index  .filter_left_sidebar {
   /* padding: 0; */
    padding-bottom: 30px;


}
.products-index  .products {
    padding: 0;
    padding-bottom: 50px;
}
.products-index  .products .item {
    margin-top: 53px;
    margin-left: 65px;
  height: 304px;


}
.products-index  .products .image
{
float: left;
   width: 293px;
    height: 293px;
}


.products-index .products .card {
    background-color: white;
    float: left;
    height: 293px;
    width: 57%;
    padding-left: 28px;

    position: relative;
}

.products-index .products .card  h3 a, .products-index .products .card  h3 a:hover{
    color: #cc9966;
    font-size: 40px;
    margin-top: 12px;
    text-decoration: none;
}
.products-index .products .card .description p{
color: black;
    font-size: 16px;
    margin-top: 6px;
    height: 40px;
    padding-right: 28px;
    overflow-y: hidden;
}
.products-index .products .card .cashback p{
    margin-top: 6px;
}
.products-index .products .card .services ul  {
    padding: 0;
    margin-left: 20px;
    color: black;
    font-size: 16px;
    margin-top: 12px;
}

.nav-tabs > li > a{
    text-transform: uppercase;
    padding: 5px 10px!important;
    font-size: 14px!important;
    border-radius: 0px!important;
    color:#cccccc!important;
}
.nav-tabs > li.active > a{
    color:#7f7f7f!important;
}
.products-index .products .card span.product_title{
    border-top: 1px solid #7f7f7f;
    color: #cc9966;
    font-size: 28px;
    position: absolute;
    bottom: 60px;
    left: 30px;
}
.products-index .products .card a.booking {

    position: absolute;
    bottom: 0;
    left: 0;

    height: 55px;
    background-color: #333333;
    color: white;
    width: 100%;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding-top: 6px;
}
.products-index .products .card a.booking:hover {
    background-color: #cc9966;
    color: white;
}

/* Filter */
/*Select */
.products-index .filter_left_sidebar .form{
    margin-top: 49px;
    margin-left: 31px;
}

.products-index .filter_left_sidebar .form .form-control{
    width:300px;
    height:33px;
    background-color: white;
border: none;
    border-radius: 0px;
    color: #cfcfcf;
    font-size: 16px;
    padding-left: 52px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 25px;
    line-height: 0;
}
.products-index .filter_left_sidebar .form .form-control:focus{
border: 1px solid #cc9966;
    box-shadow:none;
    -webkit-box-shadow:none;
}
/*Price Block */
.products-index .filter_left_sidebar .form  .price_block h4{
    color:black;
    font-size: 18px;
    line-height: 30pt;
    font-weight: bold;

}
.products-index .filter_left_sidebar .form  .price_block input{
    height: 25px;
    width: 144px;

    background-color: white;
    border: 0;
    margin-right: 5px;
    padding-left: 10px;
    float: left;
}
/* CheckBox */
.products-index .filter_left_sidebar .form  .checkbox_block {
    margin-bottom: 22px;
}
.products-index .filter_left_sidebar .form  .checkbox_block h4 {
    color:black;
    font-size: 18px;
    line-height: 30pt;
    font-weight: bold;
}
.products-index .filter_left_sidebar .form  .checkbox input[type="checkbox"] {
    display:none;
}
.products-index .filter_left_sidebar .form  .checkbox input[type="checkbox"] + label span.check {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background: transparent;
    border:1px solid #cc9966;
}


.products-index .filter_left_sidebar .form .checkbox input[type="checkbox"] label {
    width: 15px;
 float:left;
    position: relative;
}


.products-index .filter_left_sidebar .form .checkbox input[type="checkbox"]:checked + label:after
{
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 2px solid #cc9966;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.products-index .filter_left_sidebar .form .checkbox span.title{
    font-size: 16px;
color:black;
    display: block;
    top: -2px;
    position: relative;
}
.products-index .filter_left_sidebar .form #filter_submit {
    background: #cc9966;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-size: 25px;

    display: inline-block;
    cursor: pointer;

    padding-bottom: 10px;
    padding-top: 10px;
    width: 300px;
    text-align: center;
}
/*
Responsive 600 px width
 */
@media only screen and (max-width: 600px) {
  .products-index {
        position: relative;
        top: 30px;
        margin-top: 0!important;
    }
    .bonus_plan_left_sidebar_block{
        height: 100%;

    }
 .bonus_plan_left_sidebar_block h3 {
        color: #333333;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        margin-top: auto;
        margin-left: auto;
    }
    .bonus_plan_steps .block-top, .bonus_plan_steps .block-bottom {
        height: 118px;
        margin-left: auto;
        margin-top: 25px;
        padding-left: 0;
        padding-right: 0px;
    }

    .bonus_plan_steps {
        height: 100%;
        padding-bottom: 30px;
        top: -50px;
    }
    .bonus_plan_steps   .bonus_plan_steps_content h3 {
        text-align: center;
        font-size: 25px;
        color:#666666;
        text-decoration: none;
    }
    .products-index .bonus_plan_steps {
        background-image: url(/image/steps_bg.png);
        height: 100%;
        background-size: cover;
        padding-bottom: 30px;
    }
    .products-index .bonus_plan_steps .top, .products-index .bonus_plan_steps .bottom, .products-index .bonus_plan_steps .step{
        margin-left: auto!important;
        margin-top: 24px!important;
    }
    .products-index .products .card {
        background-color: white;
        float: left;
        height: 300px;
        width: 100%;
        padding-left: 28px;
        position: relative;
        margin-bottom: 30px;
    }
    .products-index .products .card h3 a, .products-index .products .card h3 a:hover {

        font-size: 24px;

    }
    .nav-tabs > li > a {
        font-size: 10px!important;
    }
    .products-index .products .card span.product_title {

        font-size: 22px;
    }
    .products-index  .products .image{
        margin-left: 15%;
    }
    .products-index .products .image img {
        width: 85%;
        height: 85%;
    }
    .products-index  .products .item {
        margin-left: 0;
    }
    .products-index article .row {
        top: -50px;
        position: relative;
    }
    .products-index .filter_left_sidebar .form  .price_block input {

        float: left;
        margin-bottom: 20px;
    }
    .products-index .filter_left_sidebar .form  .checkbox_block h4 {
        display: inline-flex;
    }
    .products-index .bonus_plan_left_sidebar_block {
        background-color: white;
        height: 100%;
        padding-bottom: 80px;
    }
    .products-index .bonus_plan_left_sidebar_block h3 {
        color: #333333;
        font-size: 30px;
        line-height: normal;
        margin-top: 80px;
         margin-left: 0;
        text-align: center;
    }
    .products-index .filter_left_sidebar .form {

        margin-left: 7%;
    }
    .products-index .filter_left_sidebar .form .form-control,  .products-index .filter_left_sidebar .form  .price_block input {
        width: 250px;
    }
    .products-index .products .image {
        float: left;
        width: auto;
        height: auto;
    }
    .products-index .filter_left_sidebar .form #filter_submit {
        width: 250px;
    }
}

/* Tablet version */
@media (min-width : 599px) and (max-width : 1224px) {

    header .top li.language_switch {
        margin-left:0%;
    }

    header nav ul > li {
        float: left;
        margin-left: 10%;
    }

    header nav ul > li:first-child {
        margin-left: -26px;
        width:80px;
    }
    .products-index .bonus_plan_left_sidebar_block {
        height: 90px;
        text-align:center;
    }
    .products-index .bonus_plan_left_sidebar_block h3 {
        margin-top: 15px;
        font-size:35px;
    }

    .bonus_plan_steps > div:last-child .action{
        top:67px;
    }

    .products-index .filter_left_sidebar .form {

        margin-left: 0;
        margin-top:20px;
    }
    .select_block {
        padding-left:5px;
        margin-top:40px;
    }
    .products-index .filter_left_sidebar .form .form-control {

        padding-left: 5px;
    }
    .products-index .filter_left_sidebar .form .form-control {
        width: 203px;
    }

    .products-index .filter_left_sidebar {
        padding-bottom: 10px;
    }
    #filter_submit{
        margin-left: 29%;
        margin-top: 0;
        width: 250px!important;
    }
    .products-index .products .item {
        margin-top:25px;
        margin-left:22px;
    }
    .products-index .products {

        padding-bottom: 10px;
    }
    .products-index .filter_left_sidebar .form  .price_block h4 {
        margin-top: -10px;
    }

    .products-index .filter_left_sidebar .form  .price_block input {
        height: 33px;
        width: 203px;
        margin-bottom: 25px;
    }
    .products-index .filter_left_sidebar .form  .checkbox_block h4 {
        margin-top: -10px;
    }
}

